body {
  background-color: #231f20;
  font-family: "helvetica" sans-serif arial;
  color: #ffffff;
}

.nav {
  position:fixed;
  width: 100%;
  background-color: #f1dcca;
  height: 50px;
  text-align: center;  
  z-index: 555;
  top: 0px;
  left: 0px;
  padding-top: 25px;
}

.nav a:link, .nav a:active, .nav a:visited {
  font-size: 20px;
  margin-left: 20px;
  color: #231f20;
  text-decoration: none;
   z-index: 999;
}

.nav a:hover {
  text-decoration: underline;
  color: #452142;
   z-index: 999;
}

.cover {
  z-index: 410;
  background: -webkit-linear-gradient(#f1dcca, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f1dcca, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f1dcca, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f1dcca, #fff); /* Standard syntax */
  text-align:center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0px;
}

.cover .logo {
  margin-top: 100px;
}
