body {
  background-color: #231f20;
  font-family: "helvetica" sans-serif arial;
  color: #ffffff;
}

.nav {
  position:fixed;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  background-color: #;
}

.nav a {
  font-size: 20px;
  width: 100px;
  color: #f1dcca;
}

.nav a:hover {
  text-decoration: underline;
  color: #b3a397;
}
