body {
  background-color: #231f20;
  font-family: "helvetica" sans-serif arial;
  color: #ffffff;
}

.nav {
  position:fixed;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  background-color: #231f20;
  height: 100px;
  text-align: center;
}

.nav a:link, .nav a:active, .nav a:visited {
  font-size: 20px;
  margin-left: 20px;
  color: #f1dcca;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  color: #b3a397;
}
